<% provide :title, "Home" %>
<section class="employ-sec">
  <div class="container">
    <div class="title-sec-w3layouts_pvt text-center">
      <span class="title-wthree"><%= t "base_title" %></span>
    </div>
    <div class="row pt-lg-5">
      <div class="col-lg-4">
        <%= render "shared/search" %>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <%= render @jobs %>
        </div>
        <div class="row justify-content-center">
          <%= paginate @jobs, theme: "twitter-bootstrap-3" %>
        </div>
      </div>
    </div>
  </div>
</section>
