default: &default
  adapter: postgresql
  encoding: unicode

development:
  <<: *default
  database: ruby_job_fair_02_development

test:
  <<: *default
  database: ruby_job_fair_02_test

production:
  <<: *default
  database: ruby_job_fair_02_production
  username: ruby_job_fair_02
  password: <%= ENV['RUBY_JOB_FAIR_02_DATABASE_PASSWORD'] %>
