@import 'color';

.content h1 {
  margin: 30px 0;
  text-align: center;
  color: $blue;
  font-weight: bold;
}

.form-control {
  margin-bottom: 15px;
}

.checkbox {
  margin: -10px 0 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.company_info {
  p {
    display: inline;
  }

  i {
    color: $green;
  }
}

.company {
  h5, h1 {
    color: $green;
  }
}

.flag-new {
  width: 34px;
  height: 45px;
  margin: 0 auto;
  padding-top: 5px;
  position: relative;
  background: $red-new;
  color: white;
  font-size: 10px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.flag-new:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid white;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
}

.flag {
  width: 112px;
  height: 56px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  background: $red-new;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.flag:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid white;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}

.media-img {
  text-align: center;
}

.media-img img {
  line-height: 200px;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 17px;
  border-radius: 50%;
  color: white;
}

.button_cn {
  text-align: center;
  a {
    width: 200px;
  }
}

.search_job {
  color: white;
  background-color: $blue;
  font-weight: bold;
}

.info-icon {
  text-align: center;
  letter-spacing: 15px;

  .facebook {
    color: $blue-facebook;
  }

  .linkedin {
    color: $blue-linkedin;
  }

  .skype {
    color: $blue-skype;
  }

  .google {
    color: $red-google;
  }

  .youtube {
    color: $red-youtube;
  }
}

.job_info {
  color: $green;
}

.user-info {

  margin: 30px 80px;
  
  i {
    color: $green;
    padding-right: 10px;
  }
}

.cv-users{
  font-size: 20px;

  i {
    color: $green;
    margin-bottom: 20px;
  }
}

.list-group-item {
    color:$blue;
}

.list-group-item:hover {
  padding-left: 10px;
  color: $green;
}

.home {
  margin: 70px;
}

ul.tags li a{
  display: inline-block;
  margin: 3px 5px;
  border: 1px solid gainsboro;
  padding: 3px 8px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: gray;
}

ul.tags li a:hover{
  color: $blue;
}

.tag-cv {
  margin-left: 220px !important;
}
